[Unit]
Description=CRyptoCrowd's distributed currency daemon
After=network.target

[Service]
User=cryptocrowd
Group=cryptocrowd

Type=forking
PIDFile=/var/lib/xcrcd/xcrcd.pid

ExecStart=/usr/bin/xcrcd -daemon -pid=/var/lib/xcrcd/xcrcd.pid \
          -conf=/etc/cryptocrowd/cryptocrowd.conf -datadir=/var/lib/xcrcd

ExecStop=-/usr/bin/xcrc-cli -conf=/etc/cryptocrowd/cryptocrowd.conf \
         -datadir=/var/lib/xcrcd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
